$line-vertical-separation:4px;

.declination-view {
	dt {
		float:left;
		clear:left;
		width:13em;
		font-weight:bold;
		text-align:right;
		margin-top:$line-vertical-separation;
		&:after {
			content:':';
		}
	}
	dd {
		float:left;
		width:6em;
		text-align:right;
		margin-top:$line-vertical-separation;
		margin-left:1em;
		.repeat {
			display:block;
		//	text-align:right;
		}
	}

	.west-up-minus-east-down,
	.west-up-minus-east-down-value,
	.f-mean,
	.f-mean-value {
		padding-top:10px;
	}
}
