$line-vertical-separation:4px;

.declination-view {

	> dl {
		margin: 0;

		> dt {
			float:left;
			clear:left;
			width:13em;
			font-weight:bold;
			margin-top:$line-vertical-separation;
		}

		> dd {
			float:left;
			width:6em;
			text-align:right;
			margin-top:$line-vertical-separation;
			margin-left:1em;
			.degrees-minutes {
				display:block;
			}
		}

	}

	.west-up-minus-east-down,
	.west-up-minus-east-down-value {
		padding-top:10px;
	}
}
