$line-vertical-separation:4px;

.inclination-view {
  dt {
    float:left;
    clear:left;
    width:13em;
    font-weight:bold;
    text-align:right;
    margin-top:$line-vertical-separation;
    &:after {
      content:':';
    }
  }
  dd {
    float:left;
    width:6em;
    text-align:right;
    margin-top:$line-vertical-separation;
    margin-left:1em;
    .degrees-minutes {
      display:block;
    }
  }

  .south-down-minus-north-up,
  .south-down-minus-north-up-value {
    padding-top:10px;
  }
}
