.inclination-view {
  > dl {
    margin: 0;

    > dt {
      clear: left;
      float: left;
      margin-top: 4px;
      width: 12em;
    }

    > dd {
      float: left;
      margin-left: 1em;
      margin-top: 4px;
      text-align: right;
      width: 6em;

      .degrees-minutes {
        display: block;
      }
    }

  }
}
