.magnetometer-ordinates-output {

	.magnetometerOrdinatesCells,
	.magnetometerOrdinatesHead {
		th {
			text-align:right;
			padding-right:16px;

			&:after {
				content:':';
			}
		}
	}

	.magnetometerOrdinatesCells {
		td {
			text-align:right;
			padding-right:10px;
			width:10em;
		}
	}

	.dMean,
	.scaleValue {
	font-family:script;
	font-style:oblique;
	}
}
