.magnetometer-ordinates-output {
  td.mean,
  td.absolute,
  td.baseline {
    text-align: right;
  }

  .dMean,
  .scaleValue {
    font-style: italic;
  }

  .pier-correction {
    font-size: smaller;
  }
}
