.observation-summary-view {

  .rejected {
    > td {
      text-decoration: line-through;
    }

    &:after {
      content: 'REJECTED';
      display: block;
      line-height: 1.5;
      padding: .666em .75em;
      /* center vertically */
      vertical-align: inherit;
    }
  }

  .declination-summary,
  .horizontal-summary,
  .vertical-summary {
    > tfoot > tr {
      > th,
      > td {
        text-align: right;
      }
    }
  }

  .shift > select {
    min-width: 6.1em;
  }

	.temperature-view {
    margin-bottom: 4px;

		th {
			text-align: left;
			width: 7em;
		}
	}

  .declination-summary-view,
  .horizontal-intensity-summary-view,
  .vertical-intensity-summary-view {
    .valid,
    .start-time,
    .end-time,
    .shift {
      text-align: center;
    }
  }
}

@media print {
  .observation-summary-view {
    font-size: 11px;
    h2 {
      font-size: 12px;
      margin: 0px;
    }

    .declination-summary,
    .horizontal-summary,
    .vertical-summary {
      > tfoot > tr {
        &:first-child {
          > th,
          > td {
            padding-top: 0;
          }
        }
      }
    }
  }

  .tablist-panel,
  td,
  th {
    background: none;
    border: none;
    padding: 0 10px;
  }

  .page-header,
  .tab-position-indicator,
  .tablist-container,
  .tablist > .tablist-forward-button,
  .tablist > .tablist-backward-button {
    display: none;
  }

  .declination-summary-view {
    .shift {
      display: none;
    }
  }

  .declination-summary > thead > tr > th.shift{
    display: none;
  }

}
