.observation-view {

	.tablist {
		border-color: #aaa;

		.tablist-backward-button,
		.tablist-forward-button,
		.tablist-container,
		.tablist-panel,
		.tablist-tab {
			border-color: #aaa;
		}

		.tablist-panel {
			padding: 0 1em 1em;
		}

		.row {
			margin: 0;
		}
	}
}

