// all become top aligned on small screens
.observation-meta-view {
  .hidden {
    display: none;
    visibility: hidden;
  }
}

@media print {
  .print-hidden,
  .pier-temperature,
  .mark {
    display: none;
  }
}
