.observatory-view {

	ul {
		padding:0;
		list-style:none;
		border:1px solid rgb(207,207,207);
		background:rgb(247,247,247);
		color:rgb(100,100,100);
	}

	li:first-child {
		border-top:none;
	}

	li {
		padding: 10px 15px;
		border-top:1px solid rgb(207,207,207);
	}

	li:hover {
		cursor:pointer;
		background:#fff;
		color:#000;
	}

	> .observatories {
		> ul > li.selected {
			color: #000;
			background: rgba(162, 192, 123, 0.6);
		}
	}
}