.observatory-view {

	ul {
		padding:0;
		list-style:none;
	}

	li:first-child {
		border-top:none;
	}

	li {
		padding: 0;
		border-top:1px solid rgb(207,207,207);

		> a {
			padding:10px 15px 10px 0;
			display:block;
			text-decoration:none;
		}
	}

	li:hover {
		cursor:pointer;
		background:#fff;
		color:#000;
	}

	> .observatories {
		> ul > li.selected {
			color: #000;
			background: rgba(162, 192, 123, 0.6);
		}
	}

}