.observations-view {
  ul {
    list-style: none;
    padding: 0;

    > li {
      border-top: 1px solid rgb(207,207,207);
      padding: 0;
      position: relative;

      &.review-status-y:after,
      &.review-status-n:after {
        background: rgba(0,0,0,0.05);
        border-radius: 2em;
        line-height: 2;
        position: absolute;
        right: 0;
        text-align: center;
        top: 6px;
        width: 2em;
      }

      &.review-status-y:after {
        color: #090;
        content: '\2713';
      }

      &.review-status-n:after {
        content: '?'
      }

      > a {
        display: block;
        padding: 10px 15px 10px 0;
      }

      > a:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    > li:first-child {
      border-top: none;
    }
  }
}
