.observation-summary-view {
	> table {
		width:100%;
	}

	.declination-summary,
	.horizontal-summary,
	.vertical-summary {
		> tfoot {
			> tr {
				&:first-child {
					> th,
					> td {
						padding-top:1em;
					}
				}
				> th,
				> td {
					text-align:right;
				}
			}
		}
	}

	hr {
		height: 0;
		border: 0;
		border-top: 1px solid #aaa;
	}

	.temperature-view {
		th {
			width:7em;
			text-align:left;
		}
	}
	.reviewer {
		> label {
			font-weight:bold;
		}
		> div {
			font-weight:bold;
			> span {
				font-weight:normal;
			}
		}
		> textarea {
			width:100%;
			height:5em;
		}
	}


	.declination-summary-view,
	.horizontal-intensity-summary-view,
	.vertical-intensity-summary-view {

		.valid,
		.start-time,
		.end-time,
		.observer,
		.shift {
			text-align: center;
		}

		// declination
		.absolute-declination,
		.ord-min,
		.baseline-min,
		.baseline-nt,
		// horizontal
		.abs-value,
		.ord,
		.baseline-values {
			text-align: right;
		}

	}

}
