// TODO: generalize into template content layout pattern


// all become top aligned on small screens
.observation-meta-view {
	.top-aligned,
	.left-aligned,
	.right-aligned {
		> label,
		> .label {
			padding: 0;
			margin: 0;
			display: block;
			font-weight: bold;
			padding-right: 5px;
		}

		> input,
		> select,
		> textarea,
		> .value {
			margin-bottom: 1em;
		}

		> textarea {
			width: 100%;
		}
	}
	.pier-correction-value {
		padding-left: 7px;
		padding-top: 2px;
		float: left;
	}

	.julian-day-value {
		padding: 0.5em;
		font-size: 0.75em;
		background: #f8f8f8;
		width: 3em;
		margin-left: 2px;
		text-align: center;
	}

	// left and right stack, and change label text alignment
	@media screen and (min-width:768px) {
		.left-aligned,
		.right-aligned {
			> label,
			> .label {
				float: left;
				clear: left;
				width: 8em;
				padding-right: 8px;
			}

			> input,
			> select,
			> textarea,
			> .value {
				float: left;
				margin-bottom: 5px;
			}

			&:after {
				display: block;
				content: ' ';
				clear: both;
			}
		}

		.right-aligned {
			> label,
			> .label {
				text-align: right;
			}
		}
	}
}
