.reading-group-view {
	margin:1em 0;
}

.reading-view {
	> .row {
		border-bottom:1px solid #aaa;
	}
}

.declination-input {

	.first-mark-down,
	.east-up {
		th, td {
			padding-bottom:1em;
		}
	}

	.first-mark-up,
	.first-mark-down,
	.second-mark-up,
	.second-mark-down {
		> .measurement-time > input,
		> .measurement-e {
			display:none;
		}
	}

	.measurement-h,
	.measurement-z,
	.measurement-f {
		display:none;
	}
}

.inclination-input {
	.measurement-e {
		display:none;
	}
}

.declination-input,
.inclination-input {
	margin-bottom:1em;
	float:left;

	table {
		margin-right:2em;

		.units {
			display:none;
		}

		> thead > tr > th > small {
			font-size: 0.7em;
			font-weight: normal;
			margin-left: -2px;
		}
	}

	tbody th {
		text-align: left;
		padding-right:0.5em;
	}

	input {
		width:4em;
	}
	.measurement-time > input {
		width:6em;
	}

	.measurement-degrees,
	.measurement-minutes,
	.measurement-seconds {
		> input {
			text-align:center;
		}
	}

	.measurement-seconds {
		padding-right:1em;
	}

	.measurement-h,
	.measurement-z {
		padding-right:0.5em;
	}

	td.measurement-h,
	td.measurement-e,
	td.measurement-z,
	td.measurement-f {
		font-size:smaller;
		text-align:center;
	}
}

.declination-output,
.inclination-output {
	float:left;
	margin-bottom:1em;
	padding: 1em;
	border: 1px solid #d8d8d8;
	background: #f8f8f8;
}