.reading-view {
  > h2 {
    clear: left;
  }

  .declination-input {
    .first-mark-up,
    .first-mark-down,
    .second-mark-up,
    .second-mark-down {
      > .measurement-time > input,
      > .measurement-e {
        display: none;
      }
    }

    .measurement-h,
    .measurement-z,
    .measurement-f {
      display: none;
    }
  }

  .inclination-input {
    .measurement-e {
      display: none;
    }
  }

  .declination-input,
  .inclination-input {
    margin: 0 1em 1em 0;
    padding-left: 0;

    > table {
      .units {
        display: none;
      }
    }

    input {
      width: 4em;
    }
    .measurement-time > input {
      width: 6em;
    }

    .measurement-degrees,
    .measurement-minutes,
    .measurement-seconds {
      > input {
        text-align: center;
      }
    }

    .measurement-h,
    .measurement-e,
    .measurement-z,
    .measurement-f {
      font-size: smaller;
    }

    .next-reading {
      padding-right: 1em;
      text-align: right;
    }
  }

  .declination-output,
  .inclination-output {
    background: #f8f8f8;
    border: 1px solid #d8d8d8;
    float: left;
    padding: 1em;
    width: auto;
  }

  .magnetometer-ordinates-output {
    table {
      margin: 0;
    }
  }

  .column {
    width: auto;
  }
}
