.reading-view > h2 {
  clear: left;
}

.declination-input {
  .first-mark-up,
  .first-mark-down,
  .second-mark-up,
  .second-mark-down {
    > .measurement-time > input,
    > .measurement-e {
      display: none;
    }
  }

  .measurement-h,
  .measurement-z,
  .measurement-f {
    display: none;
  }
}

.inclination-input {
  .measurement-e {
    display: none;
  }
}

.declination-input,
.inclination-input {
  float: left;
  margin: 0 1em 1em 0;

  table {
    .units {
      display: none;
    }
  }

  input {
    width: 4em;
  }
  .measurement-time > input {
    width: 6em;
  }

  .measurement-degrees,
  .measurement-minutes,
  .measurement-seconds {
    > input {
      text-align: center;
    }
  }

  td.measurement-h,
  td.measurement-e,
  td.measurement-z,
  td.measurement-f {
    font-size: smaller;
  }

  td.next-reading {
    padding-right: 1em;
    text-align: right;
  }
}

.declination-output,
.inclination-output {
  background: #f8f8f8;
  border: 1px solid #d8d8d8;
  float: left;
  margin-bottom: 1em;
  padding: 1em;
}

.magnetometer-ordinates-output {
  table {
    margin: 0;
  }
}
