@import '../../../node_modules/hazdev-tablist/src/tablist/TabList.scss';

@import 'Formatter';
@import 'ReadingView';
@import 'ObservationMetaView';
@import 'DeclinationView';
@import 'InclinationView';
