@import 'ModalView';

ul {
  list-style-type:none;
  padding-left:0;
  margin:0;
}
label {
  display:block;
}
label#enabled {
  display:inline;
}
input[type=checkbox] {
  margin:12px 4px 0 16px;
}
span.disabled {
  opacity:0.6;
}
