/* line 3, ../../src/htdocs/css/_ObservatoryView.scss */
.observatory-view label {
  display: block;
}
/* line 7, ../../src/htdocs/css/_ObservatoryView.scss */
.observatory-view ul {
  padding: 0;
  list-style: none;
}
/* line 12, ../../src/htdocs/css/_ObservatoryView.scss */
.observatory-view li:first-child {
  border-top: none;
}
/* line 16, ../../src/htdocs/css/_ObservatoryView.scss */
.observatory-view li {
  padding: 0;
  border-top: 1px solid #cfcfcf;
}
/* line 20, ../../src/htdocs/css/_ObservatoryView.scss */
.observatory-view li > a {
  padding: 10px 15px 10px 0;
  display: block;
  text-decoration: none;
}
/* line 27, ../../src/htdocs/css/_ObservatoryView.scss */
.observatory-view li:hover {
  cursor: pointer;
  background: #fff;
  color: #000;
}
/* line 34, ../../src/htdocs/css/_ObservatoryView.scss */
.observatory-view > .observatories > ul > li.selected {
  color: #000;
  background: rgba(162, 192, 123, 0.6);
}

/* line 3, ../../src/htdocs/css/_ObservationsView.scss */
.observations-view ul {
  padding: 0;
  list-style: none;
}
/* line 7, ../../src/htdocs/css/_ObservationsView.scss */
.observations-view ul > li {
  padding: 0;
  position: relative;
  border-top: 1px solid #cfcfcf;
}
/* line 12, ../../src/htdocs/css/_ObservationsView.scss */
.observations-view ul > li.review-status-y:after, .observations-view ul > li.review-status-n:after {
  position: absolute;
  right: 0;
  top: 6px;
  padding: 0;
  margin: 0;
  width: 2em;
  height: 2em;
  line-height: 2;
  text-align: center;
  border-radius: 2em;
  background: rgba(0, 0, 0, 0.05);
}
/* line 27, ../../src/htdocs/css/_ObservationsView.scss */
.observations-view ul > li.review-status-y:after {
  content: '\2713';
  color: #090;
}
/* line 32, ../../src/htdocs/css/_ObservationsView.scss */
.observations-view ul > li.review-status-n:after {
  content: "?";
}
/* line 36, ../../src/htdocs/css/_ObservationsView.scss */
.observations-view ul > li > a {
  padding: 10px 15px 10px 0;
  display: block;
}
/* line 41, ../../src/htdocs/css/_ObservationsView.scss */
.observations-view ul > li > a:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* line 46, ../../src/htdocs/css/_ObservationsView.scss */
.observations-view ul > li > a.delete {
  background: #FFE0E0;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #ccc;
}
/* line 54, ../../src/htdocs/css/_ObservationsView.scss */
.observations-view ul > li > a.delete:hover {
  background: #fee;
}
/* line 59, ../../src/htdocs/css/_ObservationsView.scss */
.observations-view ul > li.empty {
  padding: 10px 15px;
  background: #fff;
  color: #888;
  font-style: oblique;
  cursor: default;
}
/* line 67, ../../src/htdocs/css/_ObservationsView.scss */
.observations-view ul > li:first-child {
  border-top: none;
}
/* line 72, ../../src/htdocs/css/_ObservationsView.scss */
.observations-view .button {
  display: block;
  width: 100%;
  color: #000;
  background: #a2c07b;
  border-radius: 3px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}
/* line 84, ../../src/htdocs/css/_ObservationsView.scss */
.observations-view .button:hover {
  cursor: pointer;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
}

@media screen and (min-width: 768px) {
  /* line 94, ../../src/htdocs/css/_ObservationsView.scss */
  .observations-view .button {
    display: inline-block;
  }
}
