/* include variables */
/* set template variables */
/* include template partials */
/* line 1, ../../node_modules/hazdev-template/src/htdocs/css/_typography.scss */
:root {
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* line 7, ../../node_modules/hazdev-template/src/htdocs/css/_typography.scss */
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'helvetica neue', arial, sans-serif;
}

/* line 14, ../../node_modules/hazdev-template/src/htdocs/css/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 2.4rem 0 0;
  /* 1.5em of base font-size */
  line-height: 1.2;
  color: #333;
  font-weight: normal;
}

/* line 21, ../../node_modules/hazdev-template/src/htdocs/css/_typography.scss */
h1 {
  font-size: 2em;
}

/* line 25, ../../node_modules/hazdev-template/src/htdocs/css/_typography.scss */
h2 {
  font-size: 1.625em;
}

/* line 29, ../../node_modules/hazdev-template/src/htdocs/css/_typography.scss */
h3 {
  font-size: 1.375em;
}

/* line 33, ../../node_modules/hazdev-template/src/htdocs/css/_typography.scss */
h4 {
  font-size: 1.125em;
}

/* line 37, ../../node_modules/hazdev-template/src/htdocs/css/_typography.scss */
h5 {
  font-size: 1em;
}

/* line 41, ../../node_modules/hazdev-template/src/htdocs/css/_typography.scss */
h6 {
  font-size: 0.875em;
}

/* line 2, ../../node_modules/hazdev-template/src/htdocs/css/_banner.scss */
[role="banner"] {
  height: 56px;
  position: relative;
  background-color: #1b3c43;
  /* position usgs logo over background image. */
  /* visually hide navigation jumplink. */
}
/* line 8, ../../node_modules/hazdev-template/src/htdocs/css/_banner.scss */
[role="banner"] > .site-logo {
  display: block;
  position: absolute;
  left: 14px;
  top: 14px;
  color: transparent;
  width: 101px;
  height: 50%;
  background-size: auto 140%;
  background-image: url("/theme/images/usgs-logo.svg");
  background-repeat: no-repeat;
}
/* line 20, ../../node_modules/hazdev-template/src/htdocs/css/_banner.scss */
[role="banner"] > .site-logo > img {
  display: none;
}
/* line 26, ../../node_modules/hazdev-template/src/htdocs/css/_banner.scss */
[role="banner"] > .jumplink-navigation {
  display: block;
  position: absolute;
  left: -9999px;
  top: 0;
}
@media screen and (min-width: 768px) {
  /* line 2, ../../node_modules/hazdev-template/src/htdocs/css/_banner.scss */
  [role="banner"] {
    /* make banner larger on large screens. */
    background-color: black;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url("/theme/images/usgs-banner.jpg");
    height: 72px;
    background-position: 164px 0;
    /* 1.5 line-height on 1em text, with 0.25em padding top/bottom */
    margin-bottom: 2em;
    /* also adjust size of usgs logo */
  }
  /* line 48, ../../node_modules/hazdev-template/src/htdocs/css/_banner.scss */
  [role="banner"] > .site-logo {
    width: 137px;
    height: 75%;
    top: 10px;
    background-size: auto 100%;
  }
  /* line 56, ../../node_modules/hazdev-template/src/htdocs/css/_banner.scss */
  [role="banner"]:after {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0.25em 0 0.25em 16px;
    border: 1px solid white;
    border-width: 1px 0;
    font-family: 'helvetica neue', arial, sans-serif;
    font-size: 1em;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    line-height: 1.5;
    font-weight: bold;
    content: "National Geomagnetism Program";
    color: white;
    background-color: #1b3c43;
  }
}

@media print {
  /* line 82, ../../node_modules/hazdev-template/src/htdocs/css/_banner.scss */
  [role="banner"] {
    visibility: hidden;
    height: 20px;
  }
  /* line 85, ../../node_modules/hazdev-template/src/htdocs/css/_banner.scss */
  [role="banner"] > .site-logo > img {
    visibility: visible;
    display: inline;
  }
}
/* custom styles for the template */
/* line 2, ../../node_modules/hazdev-template/src/htdocs/css/_page.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  word-wrap: break-word;
}

/* line 8, ../../node_modules/hazdev-template/src/htdocs/css/_page.scss */
main {
  display: block;
}

/* line 12, ../../node_modules/hazdev-template/src/htdocs/css/_page.scss */
body {
  margin: 0;
}

/* line 16, ../../node_modules/hazdev-template/src/htdocs/css/_page.scss */
img,
canvas {
  max-width: 100%;
}

/* line 21, ../../node_modules/hazdev-template/src/htdocs/css/_page.scss */
.page {
  padding: 0 16px;
}

/* line 25, ../../node_modules/hazdev-template/src/htdocs/css/_page.scss */
.page-footer {
  clear: both;
  color: #999999;
  background-color: white;
  padding: 16px 0;
  font-size: smaller;
}
/* line 32, ../../node_modules/hazdev-template/src/htdocs/css/_page.scss */
.page-footer > .page-social {
  margin: 1em 0 0;
}

@media screen and (min-width: 768px) {
  /* line 39, ../../node_modules/hazdev-template/src/htdocs/css/_page.scss */
  .page-footer {
    position: relative;
  }
  /* line 42, ../../node_modules/hazdev-template/src/htdocs/css/_page.scss */
  .page-footer > .page-social {
    position: absolute;
    right: 16px;
    bottom: 16px;
    margin: 0;
  }

  /* line 51, ../../node_modules/hazdev-template/src/htdocs/css/_page.scss */
  .page {
    padding-left: 0;
    float: right;
    width: 75%;
  }

  /* line 57, ../../node_modules/hazdev-template/src/htdocs/css/_page.scss */
  .site-footer {
    float: left;
    width: 25%;
  }
}
@media screen and (min-width: 1200px) {
  /* line 64, ../../node_modules/hazdev-template/src/htdocs/css/_page.scss */
  .page {
    width: 80%;
  }

  /* line 68, ../../node_modules/hazdev-template/src/htdocs/css/_page.scss */
  .site-footer {
    width: 20%;
  }
}
@media print {
  /* line 74, ../../node_modules/hazdev-template/src/htdocs/css/_page.scss */
  .page-footer {
    display: none;
  }
}
/* line 44, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
.social-facebook-small {
  display: inline-block;
  background: url("/theme/images/social-sprite.png") no-repeat;
  content: ' ';
  background-position: 0 -32px;
  height: 16px;
  width: 16px;
  margin-top: -16px;
}

/* line 44, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
.social-facebook-large {
  display: inline-block;
  background: url("/theme/images/social-sprite.png") no-repeat;
  content: ' ';
  width: 32px;
  height: 32px;
  background-position: 0 0px;
  margin-top: -32px;
}

/* line 44, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
.social-twitter-small {
  display: inline-block;
  background: url("/theme/images/social-sprite.png") no-repeat;
  content: ' ';
  background-position: 0 -80px;
  height: 16px;
  width: 16px;
  margin-top: -16px;
}

/* line 44, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
.social-twitter-large {
  display: inline-block;
  background: url("/theme/images/social-sprite.png") no-repeat;
  content: ' ';
  width: 32px;
  height: 32px;
  background-position: 0 -48px;
  margin-top: -32px;
}

/* line 44, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
.social-google-plus-small {
  display: inline-block;
  background: url("/theme/images/social-sprite.png") no-repeat;
  content: ' ';
  background-position: 0 -128px;
  height: 16px;
  width: 16px;
  margin-top: -16px;
}

/* line 44, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
.social-google-plus-large {
  display: inline-block;
  background: url("/theme/images/social-sprite.png") no-repeat;
  content: ' ';
  width: 32px;
  height: 32px;
  background-position: 0 -96px;
  margin-top: -32px;
}

/* line 44, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
.social-email-small {
  display: inline-block;
  background: url("/theme/images/social-sprite.png") no-repeat;
  content: ' ';
  background-position: 0 -176px;
  height: 16px;
  width: 16px;
  margin-top: -16px;
}

/* line 44, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
.social-email-large {
  display: inline-block;
  background: url("/theme/images/social-sprite.png") no-repeat;
  content: ' ';
  width: 32px;
  height: 32px;
  background-position: 0 -144px;
  margin-top: -32px;
}

/* line 44, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
.social-print-small {
  display: inline-block;
  background: url("/theme/images/social-sprite.png") no-repeat;
  content: ' ';
  background-position: 0 -224px;
  height: 16px;
  width: 16px;
  margin-top: -16px;
}

/* line 44, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
.social-print-large {
  display: inline-block;
  background: url("/theme/images/social-sprite.png") no-repeat;
  content: ' ';
  width: 32px;
  height: 32px;
  background-position: 0 -192px;
  margin-top: -32px;
}

/* line 44, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
.social-feed-small {
  display: inline-block;
  background: url("/theme/images/social-sprite.png") no-repeat;
  content: ' ';
  background-position: 0 -272px;
  height: 16px;
  width: 16px;
  margin-top: -16px;
}

/* line 44, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
.social-feed-large {
  display: inline-block;
  background: url("/theme/images/social-sprite.png") no-repeat;
  content: ' ';
  width: 32px;
  height: 32px;
  background-position: 0 -240px;
  margin-top: -32px;
}

/* line 44, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
.social-feed2-small {
  display: inline-block;
  background: url("/theme/images/social-sprite.png") no-repeat;
  content: ' ';
  background-position: 0 -320px;
  height: 16px;
  width: 16px;
  margin-top: -16px;
}

/* line 44, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
.social-feed2-large {
  display: inline-block;
  background: url("/theme/images/social-sprite.png") no-repeat;
  content: ' ';
  width: 32px;
  height: 32px;
  background-position: 0 -288px;
  margin-top: -32px;
}

/* line 44, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
.social-google-earth-small {
  display: inline-block;
  background: url("/theme/images/social-sprite.png") no-repeat;
  content: ' ';
  background-position: 0 -368px;
  height: 16px;
  width: 16px;
  margin-top: -16px;
}

/* line 44, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
.social-google-earth-large {
  display: inline-block;
  background: url("/theme/images/social-sprite.png") no-repeat;
  content: ' ';
  width: 32px;
  height: 32px;
  background-position: 0 -336px;
  margin-top: -32px;
}

@media screen and (max-width: 767px) {
  /* line 55, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
  .page-social .facebook {
    display: inline-block;
    background: url("/theme/images/social-sprite.png") no-repeat;
    content: ' ';
    width: 32px;
    height: 32px;
    background-position: 0 0px;
    margin-top: -32px;
    text-indent: -9999px;
    overflow: hidden;
    margin-top: 0;
  }
  /* line 55, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
  .page-social .twitter {
    display: inline-block;
    background: url("/theme/images/social-sprite.png") no-repeat;
    content: ' ';
    width: 32px;
    height: 32px;
    background-position: 0 -48px;
    margin-top: -32px;
    text-indent: -9999px;
    overflow: hidden;
    margin-top: 0;
  }
  /* line 55, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
  .page-social .google-plus {
    display: inline-block;
    background: url("/theme/images/social-sprite.png") no-repeat;
    content: ' ';
    width: 32px;
    height: 32px;
    background-position: 0 -96px;
    margin-top: -32px;
    text-indent: -9999px;
    overflow: hidden;
    margin-top: 0;
  }
  /* line 55, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
  .page-social .email {
    display: inline-block;
    background: url("/theme/images/social-sprite.png") no-repeat;
    content: ' ';
    width: 32px;
    height: 32px;
    background-position: 0 -144px;
    margin-top: -32px;
    text-indent: -9999px;
    overflow: hidden;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  /* line 66, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
  .page-social .facebook:before {
    display: inline-block;
    background: url("/theme/images/social-sprite.png") no-repeat;
    content: ' ';
    background-position: 0 -32px;
    height: 16px;
    width: 16px;
    margin-top: -16px;
    position: relative;
    top: 2px;
    margin-right: 4px;
  }
  /* line 66, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
  .page-social .twitter:before {
    display: inline-block;
    background: url("/theme/images/social-sprite.png") no-repeat;
    content: ' ';
    background-position: 0 -80px;
    height: 16px;
    width: 16px;
    margin-top: -16px;
    position: relative;
    top: 2px;
    margin-right: 4px;
  }
  /* line 66, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
  .page-social .google-plus:before {
    display: inline-block;
    background: url("/theme/images/social-sprite.png") no-repeat;
    content: ' ';
    background-position: 0 -128px;
    height: 16px;
    width: 16px;
    margin-top: -16px;
    position: relative;
    top: 2px;
    margin-right: 4px;
  }
  /* line 66, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
  .page-social .email:before {
    display: inline-block;
    background: url("/theme/images/social-sprite.png") no-repeat;
    content: ' ';
    background-position: 0 -176px;
    height: 16px;
    width: 16px;
    margin-top: -16px;
    position: relative;
    top: 2px;
    margin-right: 4px;
  }
}
/* line 76, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
.page-social > a {
  margin-left: 16px;
}
/* line 79, ../../node_modules/hazdev-template/src/htdocs/css/_social.scss */
.page-social > a:first-child {
  margin: 0;
}

/* line 4, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.nav-transition, .site-sectionnav > a,
.site-sectionnav > strong, .site-sectionnav > section > a,
.site-sectionnav > section > strong,
.site-sectionnav > section > header, .site-sitenav > a,
.site-sitenav > strong {
  -moz-transition: background 0.25s ease-out;
  -o-transition: background 0.25s ease-out;
  -webkit-transition: background 0.25s ease-out;
  transition: background 0.25s ease-out;
}

/* section nav */
/* line 12, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-sectionnav > a,
.site-sectionnav > strong {
  background-color: #ededed;
  background-image: none;
  border-top: 1px solid #dddddd;
  color: #333;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}
/* line 23, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-sectionnav > a:visited,
.site-sectionnav > strong:visited {
  color: #333;
}
/* line 28, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-sectionnav > a:hover {
  text-decoration: underline;
}
/* line 33, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-sectionnav > section {
  margin: 0 0 0.2em 0;
}
/* line 37, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-sectionnav > section > a,
.site-sectionnav > section > strong,
.site-sectionnav > section > header {
  color: #333;
  display: block;
  padding: 12px 16px;
}
/* line 47, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-sectionnav > section > a,
.site-sectionnav > section > strong {
  padding-left: 24px;
  position: relative;
}
/* line 53, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-sectionnav > section > a:before,
.site-sectionnav > section > strong:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent 0, rgba(0, 0, 0, 0.1) 2.5em, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, rgba(0, 0, 0, 0.1) 2.5em, transparent 100%);
  background-image: linear-gradient(left, transparent 0, rgba(0, 0, 0, 0.1) 2.5em, transparent 100%);
}
/* line 70, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-sectionnav > section > header {
  background-color: #ededed;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  font-weight: normal;
  text-shadow: 0 1px 1px #fff;
}
/* line 78, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-sectionnav > section > header > strong {
  font-weight: bold;
}
/* line 82, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-sectionnav > section > a,
.site-sectionnav > section > header > a {
  text-decoration: none;
  background-image: none;
}
/* line 88, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-sectionnav > section > a:hover,
.site-sectionnav > section > header > a:hover {
  text-decoration: underline;
  background-color: #f8f8f8;
}
/* line 94, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-sectionnav > section > header > a {
  display: block;
  color: #333;
}
/* line 98, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-sectionnav > section > header > a:hover {
  background-color: #ededed;
}

/* search form */
/* line 108, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-search {
  position: relative;
  display: block;
  margin: 1.2em 1em;
}
/* line 113, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-search > [type="search"] {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
/* line 122, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-search > label {
  display: block;
  float: left;
  margin-right: 1em;
  font-size: smaller;
}
/* line 129, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-search > button {
  display: block;
  clear: both;
  margin: 1em 0 0 0;
}
/* line 135, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-search:after {
  content: ' ';
  display: block;
  clear: both;
}

/* site nav */
/* line 145, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-sitenav {
  background-color: #a2c07b;
  margin: 0.2em 0;
  overflow: visible;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 154, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-sitenav > a,
.site-sitenav > strong {
  display: block;
  padding: 12px 16px;
  color: white;
  text-decoration: none;
  font-weight: normal;
  text-shadow: 0 0 2px #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 169, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-sitenav > a:visited,
.site-sitenav > strong:visited {
  color: white;
}
/* line 173, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-sitenav > a:last-child,
.site-sitenav > strong:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 177, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-sitenav > a:hover,
.site-sitenav > strong:hover {
  background-color: #8ab058;
  color: white;
}
/* line 183, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-sitenav > strong,
.site-sitenav > .current-page,
.site-sitenav > strong:hover,
.site-sitenav > .current-page:hover {
  background-color: #8ab058;
  color: white;
}

/* common nav */
/* line 195, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-commonnav {
  clear: both;
  text-align: center;
  line-height: 1.6;
  padding: 1rem;
  border-top: 1px solid #e5e5e5;
  font-size: smaller;
}
/* line 203, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-commonnav > hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  margin: 0 0 15px;
}
/* line 209, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-commonnav > a {
  display: inline-block;
  color: #a2c07b;
  margin: 0 16px 0 0;
}
/* line 214, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
.site-commonnav > a:last-child {
  margin: 0;
}

@media screen and (min-width: 768px) {
  /* line 223, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
  .site-footer {
    padding: 0px 16px;
  }

  /* line 227, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
  .site-sectionnav,
  .site-sitenav,
  .site-search {
    margin: 1em 0;
  }

  /* line 233, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
  .site-sitenav {
    border: 1px solid #8ab058;
  }

  /* line 240, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
  .site-sectionnav > a,
  .site-sectionnav > strong {
    border: 1px solid #ddd;
    margin: 0 0 1em 0;
    padding: 8px 10.66667px;
  }
  /* line 247, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
  .site-sectionnav > section {
    margin: 0 0 1em;
    border: 1px solid #ddd;
  }
  /* line 251, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
  .site-sectionnav > section header,
  .site-sectionnav > section header > a {
    border-top: 0;
  }
  /* line 256, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
  .site-sectionnav > section > a,
  .site-sectionnav > section > strong,
  .site-sectionnav > section > header {
    padding: 8px 10.66667px;
  }
  /* line 262, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
  .site-sectionnav > section > a,
  .site-sectionnav > section > strong {
    padding-left: 24px;
  }

  /* line 270, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
  .site-sitenav > a,
  .site-sitenav > strong {
    padding: 8px 10.66667px;
  }
}
@media print {
  /* line 279, ../../node_modules/hazdev-template/src/htdocs/css/_footer.scss */
  .site-sectionnav,
  .site-search,
  .site-sitenav,
  .site-commonnav {
    display: none;
  }
}
/* line 11, ../../node_modules/hazdev-template/src/htdocs/css/_offcanvas.scss */
.offcanvas-mask,
.offcanvas-container,
.offcanvas-toggle {
  display: none;
}

@media screen and (max-width: 767px) {
  /* line 21, ../../node_modules/hazdev-template/src/htdocs/css/_offcanvas.scss */
  .offcanvas-enabled {
    position: relative;
    left: 0;
    transition: left 0.3s ease-in-out;
  }
  /* line 29, ../../node_modules/hazdev-template/src/htdocs/css/_offcanvas.scss */
  .offcanvas-enabled .offcanvas-toggle {
    margin: 0;
    padding: 0 0.75em;
    display: block;
    height: 2em;
    line-height: 2em;
    position: absolute;
    top: 12px;
    right: 16px;
    z-index: 1005;
    box-shadow: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  /* line 46, ../../node_modules/hazdev-template/src/htdocs/css/_offcanvas.scss */
  .offcanvas-enabled .offcanvas {
    position: fixed;
    left: -232px;
    top: 0;
    bottom: 0;
    width: 228px;
    background-color: #FFF;
    box-shadow: 1px 0 4px 0 black;
    padding: 0;
    z-index: 1002;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: left 0.3s ease-in-out;
  }
  /* line 64, ../../node_modules/hazdev-template/src/htdocs/css/_offcanvas.scss */
  .offcanvas-enabled .offcanvas-mask {
    background-color: transparent;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1001;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
  }

  /* line 81, ../../node_modules/hazdev-template/src/htdocs/css/_offcanvas.scss */
  .offcanvas-almost-active {
    overflow: hidden;
  }
  /* line 85, ../../node_modules/hazdev-template/src/htdocs/css/_offcanvas.scss */
  .offcanvas-almost-active .offcanvas-mask {
    display: block;
  }

  /* line 94, ../../node_modules/hazdev-template/src/htdocs/css/_offcanvas.scss */
  .offcanvas-active .offcanvas {
    left: 0;
  }
  /* line 99, ../../node_modules/hazdev-template/src/htdocs/css/_offcanvas.scss */
  .offcanvas-active .offcanvas-mask {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
@media screen and (min-width: 768px) {
  /* line 109, ../../node_modules/hazdev-template/src/htdocs/css/_offcanvas.scss */
  .offcanvas-enabled .offcanvas {
    padding: 0 16px;
  }
}
/** Text Level Semantics **/
/* line 3, ../../node_modules/hazdev-template/src/htdocs/css/_text.scss */
a {
  color: #306ac2;
}
/* line 6, ../../node_modules/hazdev-template/src/htdocs/css/_text.scss */
a:active {
  color: #c23030;
}
/* line 9, ../../node_modules/hazdev-template/src/htdocs/css/_text.scss */
a:visited {
  color: #306ac2;
}

/* line 14, ../../node_modules/hazdev-template/src/htdocs/css/_text.scss */
p {
  margin: 1em 0 0;
}

/* line 18, ../../node_modules/hazdev-template/src/htdocs/css/_text.scss */
abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 23, ../../node_modules/hazdev-template/src/htdocs/css/_text.scss */
pre,
code {
  font-family: Consolas,monospace,serif;
  color: #555;
  background: #f8f8f8;
  border-radius: 3px;
}

/* line 31, ../../node_modules/hazdev-template/src/htdocs/css/_text.scss */
:not(pre) > code {
  border: 1px solid #d8d8d8;
  padding: 2px 4px;
  white-space: nowrap;
}

/* line 38, ../../node_modules/hazdev-template/src/htdocs/css/_text.scss */
code {
  font-size: 0.8em;
}

/* line 42, ../../node_modules/hazdev-template/src/htdocs/css/_text.scss */
pre {
  border: 1px solid #d8d8d8;
  padding: 10px 15px;
  overflow: scroll;
  margin: 1em 0 0;
}

/* line 49, ../../node_modules/hazdev-template/src/htdocs/css/_text.scss */
pre > code {
  word-wrap: normal;
}

/* line 53, ../../node_modules/hazdev-template/src/htdocs/css/_text.scss */
mark {
  background-color: #ffa;
  padding: 2px 4px;
}

/* line 58, ../../node_modules/hazdev-template/src/htdocs/css/_text.scss */
sup,
sub {
  font-size: 0.625em;
  margin-left: 2px;
}

/* line 1, ../../node_modules/hazdev-template/src/htdocs/css/_list.scss */
ul,
ol {
  margin: 1em 0 0;
  padding-left: 2em;
}
/* line 6, ../../node_modules/hazdev-template/src/htdocs/css/_list.scss */
ul.no-style,
ol.no-style {
  list-style: none;
  padding: 0;
}
/* line 11, ../../node_modules/hazdev-template/src/htdocs/css/_list.scss */
ul.separator > li,
ol.separator > li {
  border-top: 1px solid #d8d8d8;
  padding: 1em 0;
}
/* line 15, ../../node_modules/hazdev-template/src/htdocs/css/_list.scss */
ul.separator > li:first-child,
ol.separator > li:first-child {
  border-top: none;
  padding-top: 0;
}

/* Remove margin from nested lists */
/* line 23, ../../node_modules/hazdev-template/src/htdocs/css/_list.scss */
li > ul,
li > ol {
  margin: 0;
}

/* line 28, ../../node_modules/hazdev-template/src/htdocs/css/_list.scss */
dl {
  margin: 1em 0 0;
}
/* line 31, ../../node_modules/hazdev-template/src/htdocs/css/_list.scss */
dl > dt {
  font-weight: bold;
}

/* line 39, ../../node_modules/hazdev-template/src/htdocs/css/_list.scss */
dl.vertical > dd,
dl.horizontal > dd {
  margin: 0;
}

@media screen and (min-width: 560px) {
  /* line 48, ../../node_modules/hazdev-template/src/htdocs/css/_list.scss */
  dl.horizontal > dt {
    float: left;
    width: 10em;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* line 57, ../../node_modules/hazdev-template/src/htdocs/css/_list.scss */
  dl.horizontal > dd {
    margin-left: 11em;
  }
}
/* line 1, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
button {
  position: relative;
  /* used by before/after selectors */
  font-size: 1em;
  line-height: 4rem;
  height: 4rem;
  padding: 0 1em;
  margin: 4px 2px;
  color: #333;
  background: #f8f8f8;
  text-shadow: 0 1px 1px #fff;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  vertical-align: top;
  font-family: 'helvetica neue', arial, sans-serif;
}
/* line 20, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
button:hover {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  color: #000;
  text-shadow: none;
}
/* line 27, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
button:active {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 20%, rgba(55, 55, 55, 0.1) 100%);
}
/* line 32, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
button.red {
  background-color: #E46554;
}
/* line 36, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
button.orange {
  background-color: #F59048;
}
/* line 40, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
button.yellow {
  background-color: #FFF066;
}
/* line 44, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
button.green {
  background-color: #58A973;
}
/* line 48, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
button.blue {
  background-color: #5393CA;
}
/* line 52, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
button.red, button.orange, button.green, button.blue {
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}
/* line 60, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
button.yellow {
  color: #555;
  color: #836352;
  color: #74513F;
  text-shadow: 0 1px 1px #fff;
}
/* line 67, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
button.disabled, button[disabled] {
  background: #e8e8e8;
  color: #999;
  text-shadow: none;
  cursor: text;
  box-shadow: none;
}
/* line 75, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
button.disabled:hover, button[disabled]:hover {
  background-image: none;
}
/* line 81, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
button.cancel, button.confirm {
  text-align: left;
  padding-right: 4em;
  padding-left: 1em;
}
/* line 87, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
button.cancel:after, button.confirm:after {
  position: absolute;
  right: 0;
  width: 3em;
  text-align: center;
  border-radius: 0 2px 2px 0;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  background: rgba(0, 0, 0, 0.05);
}
/* line 98, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
button.cancel.disabled:after, button.cancel[disabled]:after, button.confirm.disabled:after, button.confirm[disabled]:after {
  border: none;
}
/* line 104, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
button.confirm:after {
  content: '\2713';
}
/* line 108, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
button.cancel:after {
  content: 'x';
  font-weight: bold;
}

/* line 114, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
.button-group {
  padding: 0;
  margin: 0;
}
/* line 119, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
.button-group > button {
  margin: 0 0 0 -1px;
  border-radius: 0;
  float: left;
}
/* line 124, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
.button-group > button:first-child {
  margin: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
/* line 130, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
.button-group > button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* line 136, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
.button-group:after {
  content: '';
  clear: both;
  display: block;
}

@media screen and (min-width: 768px) {
  /* line 144, ../../node_modules/hazdev-template/src/htdocs/css/_button.scss */
  button {
    font-size: 0.8125em;
    line-height: 3rem;
    height: 3rem;
  }
}
/** Stacked should be the default mobile style */
/* line 2, ../../node_modules/hazdev-template/src/htdocs/css/_form.scss */
select, textarea, input, fieldset, legend, label {
  color: #333;
  font-size: 1.6rem;
  margin: 4px 2px;
  font-family: 'helvetica neue', arial, sans-serif;
}

/* line 9, ../../node_modules/hazdev-template/src/htdocs/css/_form.scss */
legend,
label {
  margin: 0.5em 0 0;
}

/* line 14, ../../node_modules/hazdev-template/src/htdocs/css/_form.scss */
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
select,
textarea {
  height: 4rem;
  border: 1px solid #d8d8d8;
  padding: 0.5em;
  max-width: 100%;
}

/* line 31, ../../node_modules/hazdev-template/src/htdocs/css/_form.scss */
textarea {
  vertical-align: top;
}

/* line 35, ../../node_modules/hazdev-template/src/htdocs/css/_form.scss */
fieldset {
  margin: 1em 0 0;
  padding: 0;
  border: none;
}
/* line 40, ../../node_modules/hazdev-template/src/htdocs/css/_form.scss */
fieldset label {
  display: block;
  text-indent: -49px;
  padding-left: 49px;
}
/* line 45, ../../node_modules/hazdev-template/src/htdocs/css/_form.scss */
fieldset label:hover {
  cursor: pointer;
}

/* line 51, ../../node_modules/hazdev-template/src/htdocs/css/_form.scss */
input[type="radio"],
input[type="checkbox"] {
  padding: 0;
  margin: 0 12px 0 16px;
  width: 16px;
}

/* line 59, ../../node_modules/hazdev-template/src/htdocs/css/_form.scss */
.vertical label {
  display: block;
  margin: 1em 0 0;
}
/* line 65, ../../node_modules/hazdev-template/src/htdocs/css/_form.scss */
.vertical fieldset label {
  margin: 0.5em 0 0;
}
/* line 70, ../../node_modules/hazdev-template/src/htdocs/css/_form.scss */
.vertical input[type="date"],
.vertical input[type="datetime"],
.vertical input[type="email"],
.vertical input[type="number"],
.vertical input[type="password"],
.vertical input[type="search"],
.vertical input[type="tel"],
.vertical input[type="text"],
.vertical input[type="time"],
.vertical select,
.vertical textarea {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  /* line 89, ../../node_modules/hazdev-template/src/htdocs/css/_form.scss */
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  select,
  textarea {
    font-size: 0.8125em;
    height: 3rem;
  }
}
/* line 1, ../../node_modules/hazdev-template/src/htdocs/css/_figcaption.scss */
figure {
  display: block;
  margin: 1em 0 0;
}
/* line 5, ../../node_modules/hazdev-template/src/htdocs/css/_figcaption.scss */
figure > img {
  border: 1px solid #ddd;
}
/* line 9, ../../node_modules/hazdev-template/src/htdocs/css/_figcaption.scss */
figure > figcaption {
  display: block;
  font-size: 0.75em;
}
@media screen and (min-width: 560px) {
  /* line 15, ../../node_modules/hazdev-template/src/htdocs/css/_figcaption.scss */
  figure.right {
    float: right;
    margin-left: 1em;
    max-width: 50%;
  }
  /* line 21, ../../node_modules/hazdev-template/src/htdocs/css/_figcaption.scss */
  figure.left {
    float: left;
    margin-right: 1em;
    max-width: 50%;
  }
}

/* line 8, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
.column {
  width: 100%;
  padding-left: 16px;
}

/* line 15, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
.row {
  overflow: hidden;
  margin-left: -16px;
}
/* line 19, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
.row > .column {
  float: left;
}
/* line 23, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
.row:after {
  display: block;
  content: ' ';
  overflow: hidden;
}

/* line 32, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
.row.right-to-left > .column {
  float: right;
}

/* line 38, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
.mobile-one-of-one {
  width: 100%;
}

/* line 41, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
.mobile-two-up > .column,
.mobile-one-of-two,
.mobile-two-of-four {
  width: 50%;
}

/* line 45, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
.mobile-three-up > .column,
.mobile-one-of-three {
  width: 33.33333%;
}

/* line 47, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
.mobile-two-of-three {
  width: 66.66667%;
}

/* line 50, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
.mobile-four-up > .column,
.mobile-one-of-four {
  width: 25%;
}

/* line 53, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
.mobile-three-of-four {
  width: 75%;
}

/* line 56, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
.mobile-five-up > .column,
.mobile-one-of-five {
  width: 20%;
}

/* line 58, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
.mobile-two-of-five {
  width: 40%;
}

/* line 59, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
.mobile-three-of-five {
  width: 60%;
}

/* line 60, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
.mobile-four-of-five {
  width: 80%;
}

@media screen and (min-width: 560px), print {
  /* line 66, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
  .one-of-one {
    width: 100%;
  }

  /* line 69, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
  .two-up > .column,
  .one-of-two,
  .two-of-four {
    width: 50%;
  }

  /* line 73, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
  .three-up > .column,
  .one-of-three {
    width: 33.33333%;
  }

  /* line 75, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
  .two-of-three {
    width: 66.66667%;
  }

  /* line 78, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
  .four-up > .column,
  .one-of-four {
    width: 25%;
  }

  /* line 81, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
  .three-of-four {
    width: 75%;
  }

  /* line 84, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
  .five-up > .column,
  .one-of-five {
    width: 20%;
  }

  /* line 86, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
  .two-of-five {
    width: 40%;
  }

  /* line 87, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
  .three-of-five {
    width: 60%;
  }

  /* line 88, ../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss */
  .four-of-five {
    width: 80%;
  }
}
